.page-header {
    font-size: 13px;
    line-height: 1.82em;
    background-color: dimgray;
    border-bottom: 0;
    padding-left: 1.09em;
    font-weight: bold;
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.region-content {
    border-right: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
    border-left: 1px solid dimgray;
    padding: 15px;
}

#block-owlcave-sprachumschalter-2 a {
    color: #333;
}

#block-owlcave-sprachumschalter-2 .block-title {
    margin-bottom: 0;
}

#block-owlcave-sprachumschalter-2 ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 12px;
}

#block-owlcave-sprachumschalter-2 ul li {
    background-color: #ccc;
    margin: 1px 0 1px 0;
    padding: 3px 0 3px 50px;
}

/* Deutsch */
#block-owlcave-sprachumschalter-2 ul li:nth-child(1) {
    background-image: url(/themes/Owlcave/img/german_highlight.png);
    background-repeat: no-repeat;
    background-position: 8px 0;
}

/* English */
#block-owlcave-sprachumschalter-2 ul li:nth-child(2) {
    background-image: url(/themes/Owlcave/img/english_highlight.png);
    background-repeat: no-repeat;
    background-position: 8px 0;
}

/* Espanol */
#block-owlcave-sprachumschalter-2 ul li:nth-child(3) {
    background-image: url(/themes/Owlcave/img/spain_highlight.png);
    background-repeat: no-repeat;
    background-position: 8px 0;
}

/* topnavigation */
#topnavigation {
    margin-top: -25px;
}

#topnavigation li {
    float: left;
    padding: 0 8px 0 8px;
}

#topnavigation li a {
    padding: 2px;
    color: #000;
}

#topnavigation .nav > li > a:hover, #topnavigation .nav > li > a:focus {
    background-color: transparent;
    text-decoration: underline;
}

/* Menus */
ul.sf-menu a, ul.sf-menu span.nolink {
    padding: 5px 5px 5px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#superfish-main li {
    margin-bottom: 8px;
}

#superfish-main li.sf-depth-2 {
    margin-left: 5px;
    margin-bottom: 0;
    border-bottom: 1px solid #fff;
}

#main-menu-link-content57f6b361-4713-48f1-af2b-54026d7e6208,
#main-menu-link-content57f6b361-4713-48f1-af2b-54026d7e6208 li {
    background-color: #E5C300;
}

#main-menu-link-content149767fa-688d-4e51-b5f7-f31349bdb696,
#main-menu-link-content149767fa-688d-4e51-b5f7-f31349bdb696 li {
    background-color: #FF8E16;
}

#main-menu-link-content4aa6ca2a-cd40-457e-848f-4c75e75c7e46,
#main-menu-link-content4aa6ca2a-cd40-457e-848f-4c75e75c7e46 li {
    background-color: #B22222;
}

#main-menu-link-content5dc41ee0-d0f0-4702-9e86-f6bb29d6b491,
#main-menu-link-content5dc41ee0-d0f0-4702-9e86-f6bb29d6b491 li {
    background-color: #C34F7C;
}

#main-menu-link-content77e069e2-1509-4ccf-b157-0d394c08af18,
#main-menu-link-content77e069e2-1509-4ccf-b157-0d394c08af18 li {
    background-color: #7F5C92;
}

#main-menu-link-content3e6ba735-6183-4eec-9a1e-a39b3849c5ed,
#main-menu-link-content3e6ba735-6183-4eec-9a1e-a39b3849c5ed li {
    background-color: #4747A3;
}

#main-menu-link-content937a33c4-2eb1-46d5-90a2-416913de37da,
#main-menu-link-content937a33c4-2eb1-46d5-90a2-416913de37da li {
    background-color: #0071AF;
}

#main-menu-link-contenta6d42bd4-7581-4fab-bbbb-f57e6b1bd1f3,
#main-menu-link-contenta6d42bd4-7581-4fab-bbbb-f57e6b1bd1f3 li {
    background-color: #008888;
}

#main-menu-link-content8f3f5f11-3a0b-43ed-9e96-8a74128481e4,
#main-menu-link-content8f3f5f11-3a0b-43ed-9e96-8a74128481e4 li {
    background-color: #008000;
}

#main-menu-link-content7fb75a70-f666-4dfd-88b1-863d99ad9972,
#main-menu-link-content7fb75a70-f666-4dfd-88b1-863d99ad9972 li {
    background-color: #A5BD27;
}

/* main content */
#maincontent {
    margin-top: 15px;
}

/* Right Sidebar */
.region-sidebar-second .block-title {
    font-size: 13px;
    color: #fff;
    line-height: 1.82em;
    background-color: dimgray;
    border-bottom: 0;
    padding-left: 1.09em;
    margin-top: 0;
}

/* Courses */
.view-kurstermine table {
    border-spacing: 4px;
    border-collapse: separate;
    font-size: 13px;
    margin-left: -5px;
}

.view-kurstermine table > thead > tr > th,
.view-kurstermine table > tbody > tr > th,
.view-kurstermine table > tfoot > tr > th,
.view-kurstermine table > thead > tr > td,
.view-kurstermine table > tbody > tr > td,
.view-kurstermine table > tfoot > tr > td {
    border-top: 0 !important;
}

.view-kurstermine th {
    color: #fff;
    font-weight: bold;
    margin: 2px;
}

.view-kurstermine a {
    color: #333 !important;
}

.view-kurstermine .table > thead > tr > th,
.view-kurstermine .table > tbody > tr > th,
.view-kurstermine .table > tfoot > tr > th,
.view-kurstermine .table > thead > tr > td,
.view-kurstermine .table > tbody > tr > td,
.view-kurstermine .table > tfoot > tr > td {
    padding: 2px 0 2px 10px !important;
}

.view-kurstermine table tr {
    padding: 2px 0 2px 10px !important;
}

.view-kurstermine table > tbody > tr > td {
    padding: 2px 0 2px 10px;
}

/* Kurstypen, Kursdaten */

.kurstyp-36 h1.page-header {
    background-color: #E5C300;
}

.kurstyp-36 .view-kurstermine th {
    background-color: #E5C300;
}

.kurstyp-36 .view-kurstermine table > tbody > tr > td {
    background-color: #FBEF73 !important;
}

.kurstyp-1 h1.page-header {
    background-color: #fe8e16;
}

.kurstyp-1 .view-kurstermine th {
    background-color: #fe8e16 !important;
}

.kurstyp-1 .view-kurstermine table > tbody > tr > td {
    background-color: #FEC68A  !important;
}

.kurstyp-3 h1.page-header {
    background-color: #b22222;
}

.kurstyp-3 .view-kurstermine th {
    background-color: #b22222;
}

.kurstyp-3 .view-kurstermine table > tbody > tr > td {
    background-color: #EBACAC !important;
}

.kurstyp-4 h1.page-header {
    background-color: #c34f7c;
}

.kurstyp-4 .view-kurstermine th {
    background-color: #c34f7c;
}

.kurstyp-4 .view-kurstermine table > tbody > tr > td {
    background-color: #E7B9CB !important;
}

/* Individualsport */
.kurstyp-32 h1.page-header {
    background-color: #7f5c92;
}

.kurstyp-32 .view-kurstermine th {
    background-color: #7f5c92;
}

.kurstyp-32 .view-kurstermine table > tbody > tr > td {
    background-color: #CCBED3 !important;
}

.kurstyp-33 h1.page-header {
    background-color: #4747A3;
}

.kurstyp-33 .view-kurstermine th {
    background-color: #4747A3;
}

.kurstyp-33 .view-kurstermine table > tbody > tr > td {
    background-color: #B5B5DA !important;
}

.kurstyp-6 h1.page-header {
    background-color: #0071AF;
}

.kurstyp-6 .view-kurstermine th {
    background-color: #0071AF;
}

.kurstyp-6 .view-kurstermine table > tbody > tr > td {
    background-color: #99C6DF !important;
}

.kurstyp-34 h1.page-header {
    background-color: #008888;
}

.kurstyp-34 .view-kurstermine th {
    background-color: #008888;
}

.kurstyp-34 .view-kurstermine table > tbody > tr > td {
    background-color: #99CFCF !important;
}

.kurstyp-35 h1.page-header {
    background-color: #008000;
}

.kurstyp-35 .view-kurstermine th {
    background-color: #008000;
}

.kurstyp-35 .view-kurstermine table > tbody > tr > td {
    background-color: #7cd97c !important;
}

.kurstyp-7 h1.page-header {
    background-color: #A5BD27;
}

.kurstyp-7 .view-kurstermine th {
    background-color: #A5BD27;
}

.kurstyp-7 .view-kurstermine table > tbody > tr > td {
    background-color: #CCD982 !important;
}

/* Coursedates */
#coursedates {
    margin-top: 0;
}

.table-responsive {
    background-color: inherit;
}

.table-responsive tr,
.table-responsive tr td {
    background-color: transparent !important;
}

#coursedates .table > thead > tr > th {
    border: none;
}

#coursedates .table > thead > tr > th,
#coursedates .table > tbody > tr > th,
#coursedates .table > tfoot > tr > th,
#coursedates .table > thead > tr > td,
#coursedates .table > tbody > tr > td,
#coursedates .table > tfoot > tr > td {
    border: none;
}